<title>Remote typist!</title>

<style>
    .container {
        margin: 0px auto;
        margin-top: 50px;
    }

    .textinput_wrapper {
        float: left;
        width: 75vw;
        height: 40vw;
    }

    .textinput {
        float: left;
        width: 75vw;
        height: 40vw;
        min-height: 75px;
        outline: none;
        resize: none;
        border: 1px solid grey;
    }
</style>

<form id="sel_form" action="/type_out/" method="POST">
    <div class="container">
        <h1>Remote Typist!</h1>

        <div class="textinput_wrapper">
            <textarea id="selection"
                name="selection"
                placeholder="Paste Selection Here."
                class="textinput"></textarea>

            <button type="submit"
                form="sel_form"
                value="Type">Type</button>

        </div>
    </div>
</form>
